.body,#app-container{
    height: 95vh;

}
.list-group-item {
    color: transparent;
    /* text-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
}

#ultimaPalabraGuardada{
    min-height: 20vh;
    font-size: 2rem;
}

#btn-sacarPapel{
    min-height: 10vh;
}